body {
  box-sizing: border-box;
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: white;
}

.slider__wrapper {
  overflow: hidden;
  max-width: 1000px;
}

.slider__carousel {
  display: flex;
  transition: 0.3s;
}

.slider__image {
  width: 100%;
  border-radius: 5%;
  flex: 0 0 100%;
}

.text__wrapper {
  overflow: hidden;
  max-width: 200px;
}

.text__carousel {
  display: flex;
  transition: 0.3s;
}

.text {
  color: white;
  font-size: 24px;
  flex: 0 0 100%;
  margin: 0;
}

.input-wrapper {
  display: flex;
  gap: 5px;
}

.input {
  display: none;
}

.label {
  width: 25px;
  height: 25px;
  background: gold;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.label:hover {
  background: gray;
}

.label:active {
  background: white;
}

.input:checked + .label {
  background: white;
}

.input-wrapper:has(#slide1:checked) ~ .slider__wrapper .slider__carousel {
  transform: translateX(0);
}

.input-wrapper:has(#slide2:checked) ~ .slider__wrapper .slider__carousel {
  transform: translateX(-100%);
}

.input-wrapper:has(#slide3:checked) ~ .slider__wrapper .slider__carousel {
  transform: translateX(-200%);
}

.input-wrapper:has(#slide4:checked) ~ .slider__wrapper .slider__carousel {
  transform: translateX(-300%);
}
.input-wrapper:has(#slide5:checked) ~ .slider__wrapper .slider__carousel {
  transform: translateX(-400%);
}

.input-wrapper:has(#slide1:checked) ~ .text__wrapper .text__carousel {
  transform: translateX(0);
}

.input-wrapper:has(#slide2:checked) ~ .text__wrapper .text__carousel {
  transform: translateX(-100%);
}

.input-wrapper:has(#slide3:checked) ~ .text__wrapper .text__carousel {
  transform: translateX(-200%);
}

.input-wrapper:has(#slide4:checked) ~ .text__wrapper .text__carousel {
  transform: translateX(-300%);
}

.input-wrapper:has(#slide5:checked) ~ .text__wrapper .text__carousel {
  transform: translateX(-400%);
}
